*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ccc;
    overflow-x: hidden;
}

a{
    color: #197982;
}

a:hover{
    color: #115B62;
}

.text-breadcrumb li{
    font-size: 22px;
}

/* Menu de navigation */
.bg-black{
    background-color: #111;
}

.btn-shop,
.nav-logo{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.btn-shop:hover,
.nav-link-shop:hover,
.nav-link-shop.active,
.nav-logo:hover{
    color: #197982;
}

.nav-list{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-link-shop{
    display: block;
    padding: .5rem 1rem;
    color: rgb(196, 195, 195);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link-shop.active{
    font-weight: 600;
}


/* Footer */
.footer-title{
    font-size: 22px;
    font-weight: 600;
    color: #197982;
    margin: 30px 0;
}

.footer-description{
    font-size: 17px;
    color: rgb(196, 195, 195);
}

.footer-list{
    margin-bottom: 5px;
}

.footer-link{
    text-decoration: none;
    font-size: 17px;
    color:rgb(196, 195, 195);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.footer-link:hover{
    color: #197982;
}

.footer-form{
    margin-top: 20px;
}

.footer-form form{
    display: flex;
}

.footer-form .form-group label{
    display: none;
}

.footer-form .form-group input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0;
}


.footer-form .footer-submit button{
    display: inline-block;
    width: 120px;
    height: 100%;
    border: none;
    background-color: #197982;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer-form .footer-submit button:hover{
    background-color: #115B62;
}

/* Contact */
.contact .title{
    font-size: 28px;
    font-weight: 600;
    color: #197982;
}

.contact .description{
    font-size: 15px;
    color: rgb(26, 25, 25);
    margin-bottom: 20px;
}

.form-contact{
    margin-top: 10px;
}

.form-contact .form-group label{
    display: none;
}

.form-contact .form-group textarea,
.form-contact .form-group input[type=tel],
.form-contact .form-group input[type=email],
.form-contact .form-group input[type=text]{
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.form-contact .form-group-check{
    margin-left: 20px;
}

.form-contact .form-group-check label{
    font-size: 15px;
    font-weight: 600;
    color: #221414;
}

.form-contact .form-submit button{
    display: inline-block;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #197982;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.form-contact .form-submit button:hover{
    background-color: #115B62;
}


.address .min-title{
    font-size: 25px;
    font-weight: 600;
    color: #197982;
}

/* A propos */
.a-propos .title{
    font-size: 28px;
    font-weight: 600;
    color: #197982;
}

.a-propos .description{
    font-size: 15px;
    color: rgb(26, 25, 25);
    margin: 10px 0 10px 20px;
}